# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres@localhost:5432/SipPoc_dev?schema=public"

# OpenTok/Vonage API Key
OPENTOK_API_KEY=""
NEXT_PUBLIC_OPENTOK_API_KEY=""

# OpenTok/Vonage API Secret
OPENTOK_API_SECRET=

# Sip URI to call
SIP_URI=

# If these exist, it will attempt to video call the device over SIP. Make sure these are the same values as
# what was used to originally generate the refresh token.
# AMAZON_CLIENT_ID=
# AMAZON_CLIENT_SECRET=
# AMAZON_REFRESH_TOKEN=

EXPRESS_SERVER_HOST=http://localhost:3001